div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h1 {
    text-align: center;
}
.imagePlaceholder {
    position: fixed;
    right: 20px;
    top: 0;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}